PORT=8787
ADMIN_TOKEN=ganti-dengan-token-admin-kuat
MIDTRANS_SERVER_KEY="isi-dengan‑key‑produksi"
MIDTRANS_CLIENT_KEY="isi-dengan‑key‑produksi"
MIDTRANS_IS_PRODUCTION=false
PAYMENT_WEBHOOK_SECRET=ganti-dengan-secret-webhook-kuat
